body{
    background: #feffeb;
}
select, input{
    width: 50px;
    background-color: #00BBD6;
    height: 30px;
    color: #fff;
    font-size: 20px;
    display: block;

}
input{
    display: inline-block;
}
#generation,
.delete{
    font-size: 20px;
    height: 30px;
    margin-top: 5px;

}
table {

    margin-top: 40px;
    border: 1px solid black;
    border-collapse: collapse;

    margin-right: 23%;
}
caption{
    font-size: 25px;
}
.wrapper{
    display: flex;

}

tr, td {
    border: 4px outset;
    text-align: center;
    vertical-align: middle;
    background: #ecf1f7;
    font-size: 20px;
    }

td{
    width: 70px;
    height:70px;
}
.game{
    width: 100%;
    height:200px;/* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */

    font-size: 20px;
    color: #00BBD6;

}
.myTable{
    position: absolute;
    left:50%
}

.delete{
    opacity: 0;
    pointer-events: none;

}
.delete.show{
    opacity: 1;
    pointer-events: auto;
}
.deletedCols{
    background-color:dodgerblue;
}


.newStyle{
    background-color: dodgerblue;
}




.wrapper_cols{
    position: absolute;
    width: 100%;
    height: 250px;
    }
.wrapper_rows{
    position: absolute;
    width: 250px;
    height: 250px;
}
.wrapper_cols{
    left: 51%;
    top: 32%;


}
.wrapper_rows{
    left: 44%;
    top: 45%;
}
.wrapper_cols button,
.wrapper_rows button{
    width: 50px;
    height:50px;
}

.wrapper_rows button{
    display: block;
    margin-bottom: 25px;

}
.wrapper_cols button{
    display: inline;
    margin-right: 25px;

}

#generation,
.delete,
.wrapper_rows button,
.wrapper_cols button{
    background: -moz-linear-gradient(#00BBD6, #EBFFFF);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}